.img-container{
  position:relative;
  height:100vh;
  overflow:hidden;
}
.inner {
  position: absolute;
}
.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 100px);
  left:calc(50vw - 200px);
  overflow:hidden;
}
.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#000000;
  background:rgba(0,0,0,0.4);
  padding:30px 0px;
}
.bgimg {
  background-repeat: repeat;
  min_width:100%; min_height:100%
  width: auto; height: auto; z-index: -100;
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  -webkit-filter:blur(7px);
  -ms-filter: blur(7px);
  -o-filter: blur(7px);
  filter:blur(7px);
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
  color:rgba(1,1,1,1);
}
.box {
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.6);
  color:#000000;
  border:0;
}
.box :focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#ffff99;
  border:0;
  color:#000000;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box button:active{
  background:#ffff7f;
}

nav a i {
color: rgba(1,1,1,0.7);
}


nav {
color: #000;}

ul{
padding:5px;}

div.collapsible-header{
border:solid;
border-size:1px;}

ul#search.tagit.ui-widget.ui-widget-content{
height:64 px;}

li.tagit-new{
height: 64px;}

}


