<!DOCTYPE html>
<title>ReactTube</title>

<!--Import google icon font -->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.2/css/materialize.min.css">
<link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='css/style.css')}}">
<link href="http://webspirited.com/tagit/css/themeroller/tagit.css" rel="stylesheet">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<!--JQuery-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script   src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<!--Materialize-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<!-- Latest compiled and minified Bootstrap-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--Google sign in-->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="444408769051-59atkr4ne088j3q01bt49gh1hl0nt3ar.apps.googleusercontent.com">

<!--Tags-->
<script src="http://webspirited.com/tagit/js/tagit-themeroller.js"></script>

{% block body
%}{% endblock%}